<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UnclaimedFundsViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
<connectionStrings><add name="OhioFindersListEntities" connectionString="metadata=res://*/FindersListModel.csdl|res://*/FindersListModel.ssdl|res://*/FindersListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=Finders04062015;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <UnclaimedFundsViewer.Properties.Settings>
      <setting name="CurrentPageIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentRowIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DatabaseServiceName" serializeAs="String">
        <value>SQL Server (SQLEXPRESS)</value>
      </setting>
    </UnclaimedFundsViewer.Properties.Settings>
  </userSettings>
</configuration>